@import "../variables";

.card {

  &__content {
    display: flex;
    flex-direction: column;

    @include _768 {
      flex-direction: row-reverse;
    }
  }

  &__image {
    height: 190px;
    border-right: 10px solid #753BBD;
    position: relative;
    z-index: 0;
    margin: -1px -1px 0 -1px;


    @include _1440 {
      height: 225px;
    }

    & .card-mark {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 54px;
      background-color: #FBE200;

      font-size: 16px;
      font-weight: 700;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.card-description {
  padding: 0 20px;
  color: $dark-grey;

  @include _768 {
    flex: 1 1 auto;
  }

  @include _1440 {
    padding: 0 30px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;

    @include _1440 {
      margin-top: 30px;
      gap: 5px;
    }
  }

  &__type {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;

    @include _1440 {
      font-size: 24px;
      line-height: 125%;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
  }

  &__footer {
    font-size: 10px;
    line-height: 115%;
    margin-top: 30px;
    margin-bottom: 20px;

    & > *:not(:last-child) {
      margin-bottom: 9px;
    }

    @include _1440 {
      font-size: 12px;
      line-height: 115%;
      margin-top: 45px;
      margin-bottom: 52.5px;

      & > *:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__price,
  &__week {
    display: flex;
    gap: 6px;
  }
}
