@import "../variables";

.card {

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__image {
    height: 190px;
    border-right: 12px solid #753BBD;
    position: relative;
    z-index: 0;


    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.card-description {
  border: 1px solid #DDDDDD;
  border-top: none;
  padding: 0 20px;
  color: $dark_grey;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 17px;

    margin-top: 20px;
  }

  &__type {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: .033em;
  }

  &__footer {
    font-size: 10px;
    line-height: 115%;
    margin-top: 30px;
    margin-bottom: 15.4px;

    & > *:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__week {
    display: flex;
    gap: 6px;

    &::before {
      content: "";
      background-image: url(/src/assets/calendar-icon.svg);
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }
  }

  &__price {
    display: flex;
    gap: 6px;

    &::before {
      content: "";
      background-image: url(/src/assets/credit-card-icon.svg);
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }
  }
}
