.calendar-icon {
  background-image: url(/src/assets/calendar-icon.svg);
  width: 15px;
  height: 15px;
}

.credit-card-icon {
  background-image: url(/src/assets/credit-card-icon.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
