@import "../media-mixin";

.header {
  &__inner {
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD;

    @include _992 {
      max-height: 53px;
    }
  }
}
