@import "reset";
@import "variables";

@import "layout/header";
@import "layout/nav-menu";
@import "layout/card-block";

@import "components/logo";
@import "components/title";

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #ffff;
}

.container {
  padding: 0 17px;
}
